
.nv_trangcssach_tieude {
    font-size: 40px;
    font-weight: bold;
    margin: 25px;
    color: #111827;
}

.nv_trangcssach_main {
    background-color: #F3F4F6;
    width: calc(100% - 280px);
    height: 100vh;
    border-radius: 0 10px 10px 0;
    overflow-y: auto;
    margin-left: 280px;
}

.nv_trangcssach_noidung {
    margin: 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nv_trangcssach_noidung_tieude {
    font-size: 30px;
    font-weight: bold;
    color: #111827;
    padding: 20px;
    background-color: rgb(229, 232, 235);
    border-radius: 15px 15px 0 0;
}

.nv_trangcssach_noidung_thongtinsach {
    margin-top: 10px;
}

.nv_trangcssach_noidung_thongtinsach_nhan {
    font-size: 15px;
    font-weight: 500;
    color: #111827;
}

.nv_trangcssach_noidung_thongtinsach_tenip input {
    width: 1000px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 16px;
}

.nv_trangcssach_noidung_thongtinsach_thuoctinh {
    margin-left: 30px;
    margin-top: 20px;
}

.dong2 input{
    width: 480px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    font-size: 16px;
}


.dong5 input , .dong7 input ,.nv_trangcssach_noidung_thongtinsach_nxbip input  {
    width: 480px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    font-size: 16px;
}


.nv_trangcssach_noidung_thongtinsach_thuoctinh2 {
    display: flex;
}

.nv_trangcssach_noidung_thongtinsach_theloaiip select{
    width: 1020px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 0;
}

.nv_trangcssach_noidung_thongtinsach_theloaiip option {
    font-size: 16px;
    padding: 10px;
}


.nv_trangcssach_noidung_thongtinsach_motaip textarea {
    width: 1000px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-top: 5px;
    height: 100px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nv_trangcssach_noidung_thongtinsach_loaiip select,.nv_trangcssach_noidung_thongtinsach_tgip select,.nv_trangcssach_noidung_thongtinsach_nxbip select {
    width: 494px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 0;
}

.nv_trangcssach_noidung_btnluu{
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
}
.nv_trangcssach_noidung_btnhuy{
    background-color: #EF4444;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
}
.nv_trangcssach_noidung_btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
}



.nv_trangcssach_noidung_thongtinsach{
    margin-left: 50px ;
}

.nv_trangcssach_noidung_tieudemtct{
    font-size: 26px;
    font-weight: 500;
    color: #111827;
    margin-top: 30px;
    
} 








