.qtv_quanlytheloai_main {
    margin: 0;
    padding: 0;
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #F9FAFB;
    margin-left: 300px;
    overflow-y: auto;
}

.qtv_quanlytheloai_header {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
