.qtv_qlnhanvien_main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #F9FAFB;
    width: calc(100vw - 300px);
    margin-left: 300px;
    overflow-y: auto;
}

.qtv_qlnhanvien_tieude{
    background-color: white;
    padding: 20px 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 1150px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-left: 25px;
    margin-top: 50px;
}

.qtv_qlnhanvien_tieude_btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2563eb;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.qtv_qlnhanvien_tieude_btn svg{
    fill: white;
    width: 25px;
    height: 25px;
}
.qtv_qlnhanvien_noidung{
    width: 100%;
    max-width: 1150px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 25px;
}

.qtv_qlnhanvien_tieude_tt{
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.qtv_qlnv_th{
    padding: 15px;
    text-align: center;
    background-color: #ccc;
    font-size: 16px;
    color: #333;
}

.qtv_qlnhanvien_table{
    width: 100%;
}

.qtv_qlnhanvien_table_th1{
    width: 250px;
    border-radius: 10px 0 0 10px;
}

.qtv_qlnhanvien_table_th2{
    width: 230px;
}

.qtv_qlnhanvien_table_th3{
    width: 200px;
}
.qtv_qlnhanvien_table_th4{
    width: 200px;
}

.qtv_qlnhanvien_table_th5{
    width: 150px;
    border-radius: 0 10px 10px 0;
}

.qtv_qlnhanvien_table_td5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.qtv_qlnhanvien_table_td5 svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.qtv_qlnv_td{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
    color: #646262;
}




.qtv_qlnhanvien_themnhanvien{
    width: 1000px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 25px;
}
.qtv_qlnhanvien_themnhanvien_tieude{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.qtv_qlnhanvien_themnhanvien_nhapdl_nhan{
    font-size: 18px;
    color: #333;
}

.qtv_qlnhanvien_themnhanvien_nhapdl input{
    width: 950px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-size: 16px;
    margin-top: 10px;
}

.qtv_qlnhanvien_themnhanvien_noidung{
    margin-top: 20px;
    margin-left: 16px;
}

.qtv_qlnhanvien_themnhanvien_button_nhan{
    text-align: center;
    width: 500px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #2563eb;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.qtv_qlnhanvien_themnhanvien_button_nhan:hover{
    background-color: #1d4ed8;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 510px;
}
.qtv_qlnhanvien_themnhanvien_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.qtv_qlnhanvien_themnhanvien{
    margin-bottom: 50px;
}




.qtv_qlnhanvien_suanhanvien{
    width: 1000px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-left: 25px;
}
.qtv_qlnhanvien_suanhanvien_tieude{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.qtv_qlnhanvien_suanhanvien_nhapdl_nhan{
    font-size: 18px;
    color: #333;
}

.qtv_qlnhanvien_suanhanvien_nhapdl input{
    width: 950px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-size: 16px;
    margin-top: 10px;
}

.qtv_qlnhanvien_suanhanvien_noidung{
    margin-top: 20px;
    margin-left: 16px;
}

.qtv_qlnhanvien_suanhanvien_button_nhan1{
    text-align: center;
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #2563eb;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.qtv_qlnhanvien_suanhanvien_button_nhan2{
    text-align: center;
    width: 100px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #eb2532;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.qtv_qlnhanvien_suanhanvien_button_nhan1:hover{
    background-color: #1d4ed8;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.qtv_qlnhanvien_suanhanvien_button_nhan2:hover{
    background-color: #cb1a35;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.qtv_qlnhanvien_suanhanvien_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.qtv_qlnhanvien_suanhanvien{
    margin-bottom: 50px;
}