.qtv_trangqls_main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #F9FAFB;
    width: calc(100vw - 300px);
    margin-left: 300px;
    overflow-y: auto;
}

.qtv_trangqls_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
