.qtv_trangqls_main{
    margin-left: 300px;
    width: calc(100% - 300px);

}


.qtv_trangqls_header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1140px;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Thêm dòng này để đảm bảo padding không làm tăng kích thước tổng thể */
    margin-left: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.qtv_trangqls_header_btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

/* Thêm style cho tiêu đề để tránh tràn */
.qtv_trangqls_header_tieude {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%; /* Giới hạn chiều rộng tối đa */
    font-size: 30px;
    font-weight: bold;
}

.qtv_trangqls_noidung{
    width: 100%;
    max-width: 1140px;
    background-color: white;
    padding: 0 20px 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow-x: auto;
    margin-left: 45px;
}

.qtv_trangqls_noidung_table {
    width: 100%;
}

.qtv_trangqls_th{
    background-color:#eff1f4 ;
    padding: 15px;
}

.qtv_trangqls_td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-size: 17px;
    color: gray;
}

.qtv_qls_td4{
    color: rgb(36, 199, 96);
    font-weight: bold;
}

.qtv_trangqls_tr:hover{
    background-color: #eff1f4;
    cursor: pointer;
}

.qtv_qls_th1 {
    width: 550px;
    border-radius: 10px 0 0 10px;
}

.qtv_qls_th2 {
    width: 150px;
}

.qtv_qls_th3 {
    width: 60px;
}

.qtv_qls_th4 {
    width: 100px;
}

.qtv_qls_th5 {
    border-radius: 0 10px 10px 0;
    width: 80px;
}

.qtv_qls_td5{
    display: flex;
    justify-content: center;
}
.qtv_qls_td5 svg{
    width: 20px;
    height: 100px;
    cursor: pointer;
}

.qtv_qls_td5_svg1{
    margin-right: 20px;
}

.qtv_qls_td1{
    display: flex;
    align-items: center;
}

.qtv_trangqls_td_anh{
    width: 80px;
    height: 100px;
    border-radius: 10px;
    background-color: #b8c0c8;
    margin-right: 10px;
}

.qtv_trangqls_td_anh img{
    width: 100%;
    height: 100%;
}

.qtv_trangqls_xem{
    padding: 20px;
    background-color: #fff;
    width: 1000px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 350px;
    left: 60%;
    transform: translate(-50%, -50%);
}

.qtv_trangqls_xem_tieude{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qtv_trangqls_xem_tieude svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 40px;
    fill: #000000;
}

.qtv_trangqls_xem_tieude svg:hover{
    fill: #6C7A89;
    cursor: pointer;
}



.qtv_trangqls_xem_hr{
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    width: 100%;
}


.qtv_trangqls_xem_noidung_anh{
    width: 340px;
    height: 450px;
    border-radius: 10px;
    background-color: #b8c0c8;
    margin-right: 20px;
}

.qtv_trangqls_xem_noidung_anh img{
    width: 100%;
    height: 100%;
}

.qtv_trangqls_xem_noidung_thongtin_tensach{
    font-size: 26px;
    font-weight: bold;
}

.xemsach_tieude{
    font-size: 18px;
    font-weight: bold;
    color: #4B5563;
}

.xemsach_giatri{
    color: #6C7A89;
    font-size: 18px;
}

.xemsach_giatri_gia{
    color: #FF5733;
    font-size: 18px;
    font-weight: bold;
}

.xemsach_mota_cacdong{
    margin-top: 20px;
    margin-left: 10px;
}

.qtv_trangqls_xem_noidung_thongtin_mota_noidung{
    font-size: 18px;
    color: #6C7A89;
    line-height: 1.5;
    width: 600px;
}

.qtv_trangqls_xem_noidung{
    display: flex;
}




