.qtv_khachhang_main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #F9FAFB;
    width: calc(100vw - 300px);
    margin-left: 300px;
    overflow-y: auto;
}

.qtv_khachhang_tieude{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 1150px;
    margin-left: 35px;
    box-sizing: border-box;
}

.qtv_khachhang_search{
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 35px;
    width: 1150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px 0;
}

.qtv_khachhang_search input{
    width: 550px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 30px;
    margin-left: 20px;
    border: 1px solid #c1bfbf;
}

.qtv_khachhang_search select{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

.qtv_khachhang_search svg{
    width: 60px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(206, 205, 205);
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
}

.qtv_khachhang_search svg:hover{
    background-color: rgb(186, 185, 185);
    transition: background-color 0.3s ease;
}

.qtv_khachhang_noidung{
    width: 100%;
    max-width: 1150px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 35px;
}

.qtv_khachhang_noidung_table_th1{
    width: 50px;
    border-radius: 8px 0 0 8px;
}

.qtv_khachhang_noidung_table_th2{
    width: 260px;
}

.qtv_khachhang_noidung_table_th3{
    width: 280px;
}

.qtv_khachhang_noidung_table_th4{
    width: 80px;
}

.qtv_khachhang_noidung_table_th5{
    width: 230px;
}

.qtv_khachhang_noidung_table_th6{
    width: 95px;
    border-radius: 0 8px 8px 0;
}
.qtv_khachhang_noidung_table_td6 svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.qtv_kh_th{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 15px 10px;
    text-align: center;
    background-color: #f3f4f6;
}

.qtv_kh_td{
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    font-size: 15px;
    color: #4B5563;
}

.qtv_khachhang_xemchitiet{
    width: 600px;
    padding: 20px 25px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 35px;
    position: fixed;
    top: 400px;
    left: 55%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
.qtv_khachhang_xemchitiet_tieude{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    padding: 10px 0;
    margin-bottom: 10px;
}

.qtv_xct_nhan{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.qtv_xct_giatri{
    font-size: 18px;
    color: #484d55;
}

.qtv_kh_xct_thongtin{
    margin-bottom: 10px;
}

.qtv_khachhang_xemchitiet_tieude{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qtv_khachhang_xemchitiet_tieude svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

table.qtv_khachhang_noidung_table {
    width: 100%;
}

.qtv_kh_td.qtv_khachhang_noidung_table_td6{
    display: flex;
    justify-content: center;
}
