
.nv_tranghuyvatra_main{
    background-color: #f3f4f6;
    width: calc(100% - 280px);
    height: 100vh;
    border-radius: 0 10px 10px 0;
    overflow-y: auto;
    margin-left: 280px;
}

.nv_tranghuyvatra_tieude{
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    color: #111827;
}
.nv_tranghuyvatra_bang{
    margin: 20px;
}

.nv_huyvatrahang_td{
    text-align: center;
    font-size: 16px;
    color: #4e5765;
    padding: 20px 0 20px 0;
}

.nv_huyvatrahang_th{
    background-color: rgb(241, 240, 240);
    color: #111827; ;
    font-size: 18px;
    padding: 15px 0 15px 0;
}

.nv_tranghuyvatra_trangthai{
    display: inline-block;
    background-color:rgba(210, 87, 87, 0.8); ;
    padding: 5px 9px 5px 9px;
    border-radius: 15px;
    color: #ffffff;
    font-weight: 500;
}

.nv_tranghuyvatra_button , .huy_btn_xn{
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nv_tranghuyvatra_button{
    background-color: #3b82f6;
    margin-right: 5px;
    border-radius: 15px;
}

.nv_tranghuyvatra_button:hover{
    background-color: #2563eb;
    transition: all 0.3s ease;
}


.nv_huyvatrahang_table{
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}







 